@{
    ViewData["PageTitle"] = "Om oss";
}
<section id="about-section">
    <h1>Om oss</h1>
    <p>NordiskLuksus selger nordisk mat som laks, kaviar rafisk, sild, surstrømming, akevitt og mye annet!</p>
</section>
