@{
    ViewData["PageTitle"] = "Logg inn";
}
<section id="login-section">
    <div class="admin-section">
        <form class="login-form">
            <input type="text" placeholder="Admin bruker">
            <input type="text" placeholder="Passord">
        </form>
        <button class="btn btn-admin">Logg inn</button>
    </div>
    <div class="user-section">
        <form class="login-form">
            <input type="text" placeholder="Kunde">
            <input type="text" placeholder="Passord">
        </form>
        <button class="btn btn-kunde">Logg inn</button>
    </div>
</section>